@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
  
  :root {
    --Negro:     rgb(22, 22, 20);
    --Blanco2:   #d3d3d3;
    --Gris:      #292626;
    --Azul:      #0c3fce;
    --Azul2:     #3ec5fa;
    --AzulClaro: #14a5be;
    --AzulGris:  #435bc7;
}

* {
   max-width: 100%;;
}

html {
    scroll-padding-top: 6.8rem;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    color: var(--Negro);
    margin: 0;
    background-image: url('Img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header { 
    box-shadow: 0 1px 15px var(--Gris);
    justify-content: space-between;
    background: var(--Blanco2);
    user-select: none;
    position: fixed; 
    padding: 0.5rem; 
    display: flex;
    height: 5.7rem;
    width: 100%;
    top: 0;   
    z-index: 2;
}

.Clogo { 
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 6rem;
}

.Logoimg { 
    height: 5.4rem;
    width: 5rem;
    padding: 0.5rem;
    margin: 0;  
    transition: all 0.3s ease-in-out;
}

.Logo { 
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;

    position: relative;
    font-size: 3.4rem;
    padding: 0.2rem;
    margin-bottom: 1.2rem;
    margin-left: -0.5rem;
    background: -webkit-linear-gradient(var(--AzulClaro), var(--Azul));
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    transition: all 0.3s ease-in-out;
}

.Logo:hover {
    transform: translateY(-0.3rem);
    text-shadow: 2px 4px 8px var(--Azul);
}

.Clogo:has(.Logo:hover) .Logoimg {
    transform: rotate(2deg);
    filter: drop-shadow( 0px 1px 2px var(--Azul));
}


h2,h3,h4,h5,h6,nav,footer{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: bold;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 450;
  font-style: normal;
}

a {
    text-decoration: none;
}

ul { 
    list-style: none;
}

.nav { 
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 6rem;

    margin-right: 2.7rem;
    color: var(--Azul);
    font-weight: bold;
    font-size: 1.9rem; 
    gap: 2rem;
}

.nav li {
    padding: 0.2rem;
    margin-bottom: -0.45rem;

    position: relative;
    background: -webkit-linear-gradient(var(--AzulClaro), var(--Azul));
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    transition: all 0.3s ease-in-out;
}

.nav li:hover {
    transform: translateY(-0.3rem);
    text-shadow: 2px 2px 8px var(--Azul);
}  

.nav li::after {
    content: "";
    position: absolute;
    background: -webkit-linear-gradient(var(--AzulClaro), var(--Azul));
    border-radius: 2rem;
    bottom: 0;
    height: 5%;
    width: 0%;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.nav li:hover::after {
    width: 100%;
}  

main{
    margin-top: 6.8rem;
}

h2 {
    cursor: pointer;
    font-size: 4.6rem;
    margin: 0;
    background: -webkit-linear-gradient(var(--AzulClaro), var(--Azul));
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    transition: all 0.3s ease-in-out;
}

h2:hover {
    transform: translateY(-0.3rem);
    text-shadow: 2px 4px 15px var(--AzulGris);
}

#Inicio {
    padding: 4.5rem 10rem;
}

#Inicio div {
    display: inline-flex;
    padding: 6px;
}

#Inicio h2 {
    display: inline-flex;
    position: relative;
    margin: 0;
    margin-top: 1.5rem;
    margin-left: -2rem;
    margin-bottom: 1.5rem;
}

#Inicio p {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    text-align: justify;
    hyphens: auto; 
    font-size: 2.41rem;
    padding: 1.5rem;
    padding-top: 2.8rem;
    width: 54rem;
    margin: 2.0rem 5.0rem -0.5rem 2.0rem;
    text-shadow: 4px 2px 6px var(--Gris);

    text-shadow: 4px 2px 6px var(--AzulGris);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(10rem);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s 0.2s ease-in-out;
}

#Inicio p:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.521);
}

#Inicio img {
    margin: 0;
    margin-left: 1rem;
    width: 61rem;
    height: 36rem;
    filter: drop-shadow(0px 0px 10px #292929);
    transition: all 0.3s 0.4s ease-in-out;
}

#Inicio img:hover {
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 15px #111111);
}

#Reglas {
    padding: 4rem 0rem;
}

#Reglas h2 {
    position: relative;
    text-align: center;
    margin: 0px auto;
    margin-top: -1rem;
    margin-bottom: 4rem;
    padding: 0.5rem;
}    

#Reglas ul {
    justify-content: center; 
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 2.7rem 1.5rem;
    display: flex;
    width: 100%;
    padding: 0;
}

#Reglas li {
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.65rem;

    flex: 0 1 calc(21% - 50px); 
    min-width: 20rem;            
    min-height: 16rem;

    background: rgba(255, 255, 255, 0.06); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(16, 109, 231, 0.37);
    box-shadow: 0 8px 32px 0 rgba(32, 36, 49, 0.384);
    transition: all 0.2s ease-in-out;
}

#Reglas li:hover {
    transform: rotate(-3deg) translateY(-1.2rem);
}

#Reglas h3 {
    justify-content: center;
    width: 18.5rem;
    display: flex;
    position: relative;
    margin: 1rem auto;
    font-size: 17pt;

    background: -webkit-linear-gradient(var(--Azul), var(--AzulGris));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.3s 0.2s ease-in-out;
}

#Reglas h3:hover {
    text-shadow: 0 0 20px var(--Azul2);
}

#Reglas p {
    text-align: center;
    align-items: center;
    justify-content: center;    
    padding: 0 1rem;
    font-size: 13pt;
    margin: 0;
    text-shadow: 4px 2px 6px var(--AzulGris);
}

#Simbolo {
    padding: 4.5rem 2rem;
}

#Simbolo h2 {
    position: relative;
    text-align: center;
    margin: 0px auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

#Simbolo div {
    justify-content: center; 
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 3rem 2.5rem;
    display: flex;
    width: 100%;
    padding: 0;
}

#Simbolo article {
    text-align: center;
    padding: 1rem;
    margin: 0px;
    border-radius: 0.5rem;

    flex: 0 1 calc(23% - 5px); 

    background: rgba(255, 255, 255, 0.06); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(16, 109, 231, 0.37);
    box-shadow: 0 8px 32px 0 rgba(32, 36, 49, 0.384);
    transition: all 0.2s ease-in-out;
}

#Simbolo article:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 32px 0 rgba(11, 11, 43, 0.589);
}

#Simbolo img {
    width: 13rem;
    height: 9rem;
    filter: hue-rotate(310deg);
    filter: drop-shadow(0 0 10px rgba(207, 207, 207, 0.589) );
}

#Simbolo .conector img {
    width: 16rem;
    height: 9rem;
}

#Simbolo h3 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 17pt;

    background: -webkit-linear-gradient(var(--AzulGris), var(--AzulClaro));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition:  all 0.2s 0.1s ease-in-out;
}

#Simbolo article:hover h3 {
    text-shadow: 1px 2px 6px var(--Azul);
}

#Simbolo p {
    text-align:center;
    padding: 0rem 1rem;
    font-size: 13pt;
    margin: 0;
    margin-top: 2rem;
    text-shadow: 4px 2px 6px var(--AzulGris);
}

#Ejemplos  {
    padding: 4.5rem 2rem;
}

#Ejemplos h2 {
    position: relative;
    text-align: center;
    margin: 0px auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

#Ejemplos ul {
    max-width: 150rem;
    margin: 0 auto;
    padding: 0;
}

#Ejemplos li {
    display: inline-flex;
    margin: 0px 16px;
    width: 39.6rem;
    border-radius: 20px;

    background: linear-gradient(145deg, #f3eeeea6, #a8a8a893);
    border: 1px solid rgba(16, 109, 231, 0.37);
    box-shadow: 0 6px 20px 0 rgba(20, 24, 82, 0.384), -5px -5px 20px rgba(62, 197, 250, 0.1);
    transition: all 0.2s ease-in-out;
}

#Ejemplos #Ejemplo1 img {
    margin: 1rem auto;
    height: 38rem;
    width: 26.5rem;
    filter: drop-shadow(0 0 10px rgba(51, 49, 49, 0.589) );
}

#Ejemplos #Ejemplo2 img {
    margin: 1rem auto;
    height: 38rem;
    width: 37.5rem;
    filter: drop-shadow(0 0 10px rgba(49, 51, 51, 0.589) );
}

#Ejemplos #Ejemplo3 img {
    margin: 1rem auto;
    padding: 7px;
    height: 37rem;
    width: 37rem;
    filter: drop-shadow(0 0 10px rgba(51, 49, 49, 0.589) );
}

#Ejemplos li:hover {
    transform: scale(1.05);
}

footer { 
    box-shadow: 0 5px 15px var(--Gris);
    justify-content: space-between;
    background: var(--Blanco2);
    border-top: 1px solid rgba(16, 109, 231, 0.37);
    border-radius: 40px 40px 0px 0px;
    display: flex;
    padding: 0.2rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;  
}

footer .Clogo {
    padding: 0.4rem;
}

.social-container {
    gap: 0px 1.5rem;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 4rem;
    margin-top: 1rem;
}

.icon-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid var(--Azul);
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background: transparent;
}

.icon-circle figure {
    color: var(--Azul);
    font-size: 2.4rem;
    position: relative;
    z-index: 2;
}

.icon-circle::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background: -webkit-linear-gradient(var(--AzulClaro), var(--Azul));
    -webkit-text-fill-color: transparent;
    transition: all 0.3s 0.1s ease-in-out;
    z-index: 1;
}

.icon-circle:hover::before {
    height: 100%;
}

.icon-circle:hover figure {
    color: var(--Blanco2); 
    transition: all 0.4s ease;
}

.icon-circle:hover {
    box-shadow: 0 0 15px var(--Azul);
}